html{
    background-color: black;
}
img{
    width:600px;
    height: 350px;
    border: white solid 5px;
}
div{
    align-items: center;
}
h1{
    color:white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}
p{
    color:white;
    text-align: center;
}